* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    background: url('bg1.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 550px;
    margin: 50px auto;
    text-align: center;
}
.container img {
    margin-bottom: 35px;
}
.container h1 {
    color: #FD3267;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 60px;
}
.container p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 17px;
    margin-bottom: 60px;
}
.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    background-color: #0000009e;
    border-radius: 5px;
}
.counter > div {
    display: flex;
    flex-direction: column;
}
.counter > div > span:first-child {
    font-size: 60px;
    margin-bottom: 20px;
    user-select: none;
}
.counter > div > span:last-child {
    color: #FD3267;
    text-transform: uppercase;
}
.copyright {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 265px;
    transform: translateX(-50%);
    background-color: #FD3267;
    color: white;
    padding: 5px 10px;
    letter-spacing: 1px;
    z-index: 55;
    text-align: center;
}